<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSS</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="slider-container">
        <img src="/static/images/Flecha%20Izquierda.png" class="arrow" id="prev" alt="Flecha izquierda">
        <div class="slider">
            <img src="" id="slide" alt="Mapas">
        </div>
        <img src="/static/images/Flecha%20Derecha.png" class="arrow" id="next" alt="Flecha derecha">
    </div>

    <script src="/static/script.js"></script>
</body>
</html>

